<div class="panel indicators">
  <div class="panel-title row">
    <div class="col-sm-12">{{ _('Indicadores presupuestarios') }}</div>
  </div>
  <div class="panel-content">
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro bruto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos corrientes (capítulos I-V) - Gastos corrientes (capítulos I-V)') }}">{{ _('Glosario') }} - {{ _('Ahorro bruto') }}</a> {{ _('Ahorro bruto') }}
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">24.992.493,04 €</strong>
        <strong class="value value-2013">36.552.744,98 €</strong>
        <strong class="value value-2014">32.314.006,57 €</strong>
        <strong class="value value-2015">37.030.694,23 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro neto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ahorro bruto – capítulo IX de gastos (pasivos financieros)') }}">{{ _('Glosario') }} - {{ _('Ahorro neto') }}</a> {{ _('Ahorro neto') }}
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">4.282.098,48 €</strong>
        <strong class="value value-2013">15.946.341,84 €</strong>
        <strong class="value value-2014">14.211.476,46 €</strong>
        <strong class="value value-2015">24.965.974,27 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Capacidad/Necesidad de financiación') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}">{{ _('Glosario') }} - {{ _('Capacidad/Necesidad de financiación') }}</a> {{ _('Capacidad/Necesidad de financiación') }} 
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">No individualizado</strong>
        <strong class="value value-2013">-414.752,27 €</strong>
        <strong class="value value-2014">393.711,85 €</strong>
        <strong class="value value-2015">1.950.237,85 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
  </div>
</div>

{% if show_actual %}
<p class="text-center"><small>{{ _('El cálculo de los indicadores utiliza las cifras de ejecución para los años cuya liquidación está cerrada, o el presupuesto aprobado en caso contrario.') }}</small></p>
{% endif %}