<div class="panel indicators">
  <div class="panel-title row">
    <div class="col-sm-12">{{ _('Indicadores presupuestarios') }}</div>
  </div>
  <div class="panel-content">
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro bruto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos corrientes (capítulos I-V) - Gastos corrientes (capítulos I-V)') }}">{{ _('Glosario') }} - {{ _('Ahorro bruto') }}</a> {{ _('Ahorro bruto') }}
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">24.364.272 €</strong>
        <strong class="value value-2013">40.212.528 €</strong>
        <strong class="value value-2014">36.432.257 €</strong>
        <strong class="value value-2015">49.198.476 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Ahorro neto') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ahorro bruto – capítulo IX de gastos (pasivos financieros)') }}">{{ _('Glosario') }} - {{ _('Ahorro neto') }}</a> {{ _('Ahorro neto') }}
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">11.963.966 €</strong>
        <strong class="value value-2013">28.344.117 €</strong>
        <strong class="value value-2014">24.734.970 €</strong>
        <strong class="value value-2015">35.541.487 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <a href="{{ url('budget_app.views.terms')+'?q='+_('Capacidad/Necesidad de financiación') }}" class="icon-question" data-toggle="tooltip" data-placement="right" title="{{ _('Ingresos no financieros (capítulos I-VII) – Gastos no financieros (capítulos I-VII)') }}">{{ _('Glosario') }} - {{ _('Capacidad/Necesidad de financiación') }}</a> {{ _('Capacidad/Necesidad de financiación') }} 
      </div>
      <div class="col-sm-4">
        <strong class="value value-2012">8.600.934 €</strong>
        <strong class="value value-2013">4.638.222 €</strong>
        <strong class="value value-2014">3.128.868 €</strong>
        <strong class="value value-2015">16.549.942 €</strong>
        <strong class="value value-2016"></strong>
      </div>
    </div>
  </div>
</div>

{% if show_actual %}
<p class="text-center"><small>{{ _('El cálculo de los indicadores utiliza las cifras de ejecución para los años cuya liquidación está cerrada, o el presupuesto aprobado en caso contrario.') }}</small></p>
{% endif %}