<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;

    // Set tax receipt taxes values
    TaxReceipt.taxes.house.values        = [210, 240, 270, 330, 180, 210, 210, 240, 600, 210, 240, 210, 240, 210, 240, 180, 210];
    TaxReceipt.taxes.vehicle.values      = [0, 60.8, 128.35];
    TaxReceipt.taxes.vehicleExtra.values = [0, 60.8, 128.35];
    TaxReceipt.taxes.garbage.values      = [66.86, 66.86, 66.86, 66.86, 66.86];
    TaxReceipt.taxes.parking.values      = [0, 15];

    TaxReceipt.taxes.house.callback = function(selector, values) {
      var multiplier = $('#select-garbage').val() == 4 ? 0.7 : 1; 
      return multiplier*values[$('#select-'+selector).val()];
    };


    // Add water tax
    TaxReceipt.taxes.water = {
      selector: 'water',
      values:   [162, 180, 200],
      callback: function(selector, values) {
        var index = $('#select-garbage').val() < 3 ? 0 : 1;
        if($('#select-house').val() == 8){
          index++;
        }
        return values[index];
      }
    }


    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };
    
    /*
    // Add scenarios
    TaxReceipt.addStatus('scenario-1', {
      'house':         0,
      'vehicle':       1, 
      'extra-vehicle': 2, 
      'garbage':       0, 
      'parking':       0,
    });
    TaxReceipt.addStatus('scenario-2', {
      'house':         1,
      'vehicle':       1, 
      'extra-vehicle': 2, 
      'garbage':       1, 
      'parking':       1,
    });
    TaxReceipt.addStatus('scenario-3', {
      'house':         2,
      'vehicle':       0, 
      'extra-vehicle': 0, 
      'garbage':       2, 
      'parking':       0,
    });
    TaxReceipt.addStatus('scenario-4', {
      'house':         3,
      'vehicle':       1, 
      'extra-vehicle': 2, 
      'garbage':       3, 
      'parking':       2,
    });
    */

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

  });
</script>